@font-face {
    font-family: "Philosopher";
    font-weight: 400;
    src: url(../font/Philosophia/Philosopher-Regular.ttf);
}

@font-face {
    font-family: "Philosopher";
    font-weight: 400;
    font-style: italic;
    src: url(../font/Philosophia//Philosopher-Italic.ttf);
}
 
@font-face {
    font-family: "Philosopher";
    font-weight: 700;
    font-style: normal;
    src: url(../font/Philosophia/Philosopher-Bold.ttf);
}
 
@font-face {
    font-family: "Philosopher";
    font-weight: 700;
    font-style: italic;
    src: url(../font/Philosophia/Philosopher-BoldItalic.ttf);
}
 