* {
    font-family: "Philosopher" !important;
}

::selection{
    color: #ffffff;
    /* background-color: #4c3805ae; */
    background-color:#07a307a5;
}

.popup{
    position: absolute;
    background: #00000047;
    backdrop-filter: blur(10px);
    margin-top: 150px;
    left: 40%;
    height: 17rem; width: 18rem;
    transform: scale(0.001);
    box-shadow: 0 5px 5px #00000033;
    transition: transform 0.3s, top 0.3s;
}

.open-popup{
    transform: scale(1);
}

.popup-btn{
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.20);
    border-radius: 6px;
}
.popup-btn:active{
    background-color: #607040 !important;
    transform: scale(0.8);
    transition: all ease 0.4s;
}

.navbar-dropdown{
    max-height: 0;
    overflow: hidden;
    background-color: #0b2901 !important;
    transition: all ease 0.5s;
}

.navbar-dropped{
    background-color: #0b2901 !important;
}

.nav-number{
    margin-right: -30px;
}

.hero-section {
    min-height: 100vh;
    background-size: contain, cover !important;
    background-repeat: no-repeat !important;
    background-position: bottom !important;
    animation: altering-bg 20s linear infinite;
}

@keyframes altering-bg {
    0% {
            background: url(../img/Image-decorator.png),linear-gradient(rgba(68, 66, 55, 0.70), rgba(68, 66, 55, 0.70)),100%, url(../img/hero-backgrounds/Greeting-section-background.png);
    }
    33.3% {
            background: url(../img/Image-decorator.png),linear-gradient(rgba(68, 66, 55, 0.70), rgba(68, 66, 55, 0.70)),100%, url(../img/hero-backgrounds/hero-bg-slide-2.png);
    }
    66.6% {
            background: url(../img/Image-decorator.png),linear-gradient(rgba(68, 66, 55, 0.70), rgba(68, 66, 55, 0.70)),100%, url(../img/hero-backgrounds/hero-bg-slide-3.png);
    }
    100% {    
            background: url(../img/Image-decorator.png),linear-gradient(rgba(68, 66, 55, 0.70), rgba(68, 66, 55, 0.70)),100%, url(../img/hero-backgrounds/Greeting-section-background.png);
    }
}



li{
    list-style-type: none;
}

.navbar-toggle{
    height: 50px !important; 
    margin-top: 20px;
}

.active-navbar-toggle{
    transition: all ease 0.5s;
    box-shadow: #F3F1EC;
}

.active-navbar-toggle img{
    transition: all ease 0.5s;
    transform: rotate(90deg);
}

.navbar-scroll{
    background-color: #091f02c2 !important;
    /* background-color: #432803c7 !important; */
    /* background-color: #000000c4 !important; */
}

.navbar-links{
    color: #FFF;
    font-family: "Inter" !important;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -1.08px;
    text-decoration: none;
    transition: .2s
}

.navbar-links:hover{
    color: #9EAF7C;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.active-nav-link{
    color: #9EAF7C;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.whatsApp-icon{
    background-color: #0be40b;
    border: solid 3.6px #0be40b ;
}

.whatsApp-icon:hover{
    transition: all ease 0.3s;
    background-color: #07a307;
    /* border: solid 3.6px #07a307; */
    /* opacity: 85%; */
}

.ani-icon-SM:hover{
    transition: all ease 0.3s;
    background-color: #9EAF7C;
}

.navbar-contact{
    color: #FFF;
    font-family: "Inter" !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.84px;
}

.navbar-number{
    color: #FFF;
    text-align: right;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.08px;
    padding: 5px;
    border: solid 1px #9EAF7C;
    border-radius: 20px;
}

.street-furniture{
    line-height: 50px !important;
}

.main-section-big-p{
    font-size: 80px;
    font-style: italic;
    font-weight: 400;
    line-height: 70px;
}

.text-decorators{
    width: 27%;
}

.main-section-p{
    font-family: "Inter" !important;
    font-size: 50px;
    font-style: normal;
    font-weight: 300;
    line-height: 100px;
    letter-spacing: -3px;
}

.order-btn{
    max-width: 600px !important;
    text-align: center;
    font-family: "Inter" !important;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 21.6px */
    letter-spacing: -0.36px;
    -webkit-box-shadow: 0px 0px 78px -20px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 78px -20px rgba(0,0,0,1);
    box-shadow: 0px 0px 78px -20px rgba(0,0,0,1);
}

.order-btn:active{
    opacity: 85%;
    transition: all ease 0.2s;
    transform: scale(0.9);
    background-color: #789e27 !important;
}

.guarantee-text{
    font-family: "Inter" !important;
    font-size: 26px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -1.56px;
}

.about-section{
    background-color: #F3F1EC;;
    min-height: 80vh;
}

.section-headings{
    color: #4B4B4B !important;
    font-size: 80px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.statistic-results{
    color: #9EAF7C;
    text-align: center;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.ellipse-width{
    width: auto;
}

.own-production-statistic{
    color: #9EAF7C;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 70%; /* 35px */
}

.statistic-text{
    text-align: center;
    font-family: "Inter";
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.statistic-image-style{
    width: 450px;
    height: 580px;
}

.about-product-section{
    height: 135vh;
    background-color: #F3F1EC;
}

.uniqueness{
    max-width: 460px;
    border-radius: 20px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.20) 0%, rgba(223, 224, 226, 0.20) 0.01%, rgba(143, 145, 149, 0.20) 100%);
    backdrop-filter: blur(10.5px);
}

.about-product-h{
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 70%;
}

.about-product-p{
    font-family: "Inter" !important;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.img-about-product1{
    top: -13rem; 
    z-index: 1;
}

.detail1{
    z-index: 2;
    top: 30px;
    box-shadow:  -15px -15px 40px #5e625faf,
                15px 15px 20px #d0cdc6;
}

.detail2{
    float: right;
    z-index: 0;
    top: -100px;
    right: 40px;
    box-shadow:  -15px -15px 40px #5e625faf,
                15px 15px 20px #d0cdc6;
}

.detail3{
    float: right;
    z-index:2;
    top: 340px;
    right: -300px;
    box-shadow:  -15px -15px 40px #5e625faf,
                15px 20px 20px #d0cdc6;
}

.about-product-btn{
    top: -190px;
}

.catalog-section{
    min-height: 80vh;
    background-color: #F3F1EC;
}

.image-tint{
    background: rgba(158, 175, 124, 0.20);
    filter:opacity(80%) ;
    filter: sepia(30%), ;
}

.catalog-card{
    background-color: #F3F1EC !important;
    min-height: 13rem;
    
}

.image-description{
    color: #4B4B4B !important;
    font-size: 28px;
    font-style: normal;
    font-weight: 700 !important;
    line-height: 100%;
}

.nothing-suitable-section{
    min-height: 100vh;
    background-position: bottom, top, center !important;
    background-repeat: no-repeat !important;
    background-size: contain, contain, cover !important;
    animation: alter-bg-form1 20s linear infinite;
}

@keyframes alter-bg-form1 {
    0% {
            background:  url(../img/Image-decorator.png),url(../img/Rotated-image-decorator.png),linear-gradient(rgba(68, 66, 55, 0.70), rgba(68, 66, 55, 0.70)), 100%, 100%, url(../img/form1/Nothing-suitable.png);
    }
    33.3% {
            background:  url(../img/Image-decorator.png),url(../img/Rotated-image-decorator.png),linear-gradient(rgba(68, 66, 55, 0.70), rgba(68, 66, 55, 0.70)), 100%, 100%, url(../img/form1/form-slide2.png);
    }
    66.6% {
            background:  url(../img/Image-decorator.png),url(../img/Rotated-image-decorator.png),linear-gradient(rgba(68, 66, 55, 0.70), rgba(68, 66, 55, 0.70)), 100%, 100%, url(../img/form1/form-slide3.png);
    }
    100% {    
            background:  url(../img/Image-decorator.png),url(../img/Rotated-image-decorator.png),linear-gradient(rgba(68, 66, 55, 0.70), rgba(68, 66, 55, 0.70)), 100%, 100%, url(../img/form1/Nothing-suitable.png);
    }
}

.form-little-p{
    font-family: "Inter" !important;
    font-size: 42px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -2.52px;
}

.personal-data-usage{
    font-family: "Inter" !important;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.personal-data-usage a{
    font-family: "Inter" !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

input,textarea:focus{
    outline-color:#9e750c;
}
input,textarea::placeholder{
    font-family: "Inter" !important;
}

.how-to-recieve{
    min-height: 80vh;
    background-color: #F3F1EC;
}

.card-titlee{
    color: #4B4B4B;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 70%;
}

.card-p{
    color: #4B4B4B;
    font-family: "Inter" !important;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.feedback-section{
    min-height: 90vh;
    background-color: #F3F1EC;
}

.feedback-card-w{
    width: 24rem;
}

.corp-clients-section{
    min-height: 100vh;
    background-position: bottom, top, center !important;
    background-repeat: no-repeat !important;
    background-size: contain, contain, cover !important;
    animation: alter-bg-form2 20s linear infinite;
}

@keyframes alter-bg-form2 {
    0% {
            background:  url(../img/Image-decorator.png),url(../img/Rotated-image-decorator.png),linear-gradient(rgba(68, 66, 55, 0.70), rgba(68, 66, 55, 0.70)), 100%, 100%, url(../img/form2/Corporative-clients.png);
    }
    33.3% {
            background:  url(../img/Image-decorator.png),url(../img/Rotated-image-decorator.png),linear-gradient(rgba(68, 66, 55, 0.70), rgba(68, 66, 55, 0.70)), 100%, 100%, url(../img/form2/form2-slide2.png);
    }
    66.6% {
            background:  url(../img/Image-decorator.png),url(../img/Rotated-image-decorator.png),linear-gradient(rgba(68, 66, 55, 0.70), rgba(68, 66, 55, 0.70)), 100%, 100%, url(../img/form2/form2-slide3.png);
    }
    100% {    
            background:  url(../img/Image-decorator.png),url(../img/Rotated-image-decorator.png),linear-gradient(rgba(68, 66, 55, 0.70), rgba(68, 66, 55, 0.70)), 100%, 100%, url(../img/form2/Corporative-clients.png);
    }
}

.corp-condition-text{
    font-size: 58px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.long-text-decorator{
    margin-top: -20px; 
    margin-bottom: 0px;
}

.special-offer-margin{
    margin-right: 150px;
}

.form-negative-margin{
    margin-top: -100px;
}

.carousel-section{
    background-color: #F3F1EC;
    min-height: 70vh;
}

.slide-container{
    min-width: 100% !important;
}

.card-container{
    box-sizing: content-box;
    background: #fff;
    height: 100%;
    width: 100%;
}

.card-size{
    width: 240px; 
    height: 240px;
}

.client-cards-text{
    color: #4B4B4B;
    font-size: 24px !important;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.carousel-indicator{
    background-color: #797878;
}

.carousel-indicator:hover{
    background-color: #9eaf7c;
}

.indicator-active{
    background-color: #9EAF7C;
}

.gallery-section{
    background-color: #F3F1EC;
    min-height: 80vh;
}

.QnA-section{
    background-color: #F3F1EC;
    min-height: 70vh;
}

#accordion{
    cursor: pointer;
}

.questions{
    color: #4B4B4B;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.questions:active{
    background-color: #9EAF7C;
}

.not-active img{
    transition: all ease 0.5s;
}

.active img{
    transition: all ease 0.5s;
    transform: rotate(45deg) scale(1.3);
}

.hide{
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
}

.answers{
    color: #4B4B4B;
    font-family: "Inter" !important;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    transition: all ease 0.3s;
}

.contact-section{
    background-color: #F3F1EC;
    min-height: 80vh;
}

.contact-card-position{
    position: absolute !important;
    -webkit-box-shadow: 0px 0px 100px -1px rgba(0,0,0,0.69);
    -moz-box-shadow: 0px 0px 100px -1px rgba(0,0,0,0.69);
    box-shadow: 0px 0px 100px -1px rgba(0,0,0,0.69);
}

.footer-card-width{
    width: fit-content;
}

.contact-text{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 179.182%; 
}

@media (max-width: 1390px) {
    .main-section-p{
        line-height: normal;
    }

    .long-text-decorator{
        height: 40px;
        width: 110%;
        margin-top: -10px; 
        margin-bottom: 0px;
    }

    .special-offer-margin{
        margin-right: 0px;
    }

    .nav-number{
        margin-right: 10px;
    }

    .about-product-section{
        height: 175vh;
    }

    .detail1{
        width: 350px;
    }
    
    .detail2{
        width: 350px;
        float: right;
        right: 0px;

    }
    
    .detail3{
        width: 350px;
        float: right;
    }
}



@media (max-width: 1060px) {
    .about-product-section{
        min-height: 170vh;
    }

    .img-about-product1{
        height: 400px;
        width: 800px;
        top: -640px;
        z-index: 2;
    }

    .detail1{
        width: 350px;
        z-index: 1;
        margin-bottom: 300px;
    }
    
    .detail2{
        width: 350px;
        float: right;
        right: 0px;
        z-index: 3;
        margin-bottom: 150px;
    }
    
    .detail3{
        width: 350px;
        float: left;
        top: 0px;
        right: 0px;
        z-index: 4
    }

    .feedback-card-w{
        width: 22rem;
        margin-right: 10px;
    }
}

@media (max-width: 995px) {
    .hero-section{
        min-height: 70vh;
        background: url(/img/Mobile-image-decoration.png),linear-gradient(rgba(68, 66, 55, 0.70), rgba(68, 66, 55, 0.70)), 100%, url(/img/Greeting-section-background.png) !;
        background-size: contain, cover;
        background-repeat: no-repeat;
        background-position: auto, center;
    }

    .text-decorators{
        width: 50%;
    }

    .hero-section{
        background: url(/img/Mobile-image-decoration.png),linear-gradient(rgba(68, 66, 55, 0.70), rgba(68, 66, 55, 0.70)), 100%, url(/img/Greeting-section-background.png) !;
        background-size: contain, cover;
        background-position: auto, center;
    }

    .navbar-logo{
        width: 60px;
    }

    .navbar-toggle{
        height: 50px !important; 
        margin-top: 0px;

    }
    .main-section-p{
        line-height: normal;
    }

    .about-product-section{
        min-height: 140vh;
    }

    .img-about-product1{
        height: 300px;
        width: 700px;
        top: -1000px;
        z-index: 2;
    }

    .detail1{
        width: 350px;
        z-index: 1;
        margin-bottom: 240px;
    }
    
    .detail2{
        width: 350px;
        float: right;
        right: -80px;
        z-index: 3;
        margin-bottom: 240px;
    }
    
    .detail3{
        width: 350px;
        float: left;
        top: -500px;
        right: 0px;
        z-index: 4
    }

    .about-product-btn{
        max-width: 600px !important; 
        top: -700px;
    }

    .main-section-p{
        font-size: 47px;
        font-style: normal;
        line-height: normal;
        letter-spacing: -3px;
    }

    .long-text-decorator{
        height: 40px;
        width: 110%;
        margin-top: -10px; 
        margin-bottom: 0px;
    }

    .form-negative-margin{
        margin-top: 0px;
    }

    .main-section-big-p{
        font-size: 40px;
        font-style: italic;
        font-weight: 400;
        line-height: 40px;
    }

    .corp-condition-text{
        font-size: 48px;
        font-style: italic;
        font-weight: 400;
        line-height: normal;
    }

    .form-little-p{
        font-family: "Inter" !important;
        font-size: 35px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: -1.44px;
    }

    .feedback-card-w{
        width: 22rem;
        margin-right: 10px;
    }
}

@media (max-width: 995px) {
    .footer-card-width{
        width: 100%;
    }

    .contact-card-position{
        position: static !important;
    }
}

@media (max-width: 640px) {
    .navbar-toggle{
        height: 50px !important; 
        margin-top: 0px;
    }

    .popup{
        left: 20%;
    }

    .navbar-logo{
        width: 60px;
    }

    .hero-section{
        min-height: 39vh;
    }

    .street-furniture{
        line-height: normal !important;
    }

    .text-decorators{
        width: 50%;
    }

    .main-section-big-p{
        font-size: 40px;
        font-style: italic !important;
        font-weight: 400;
        line-height: normal;
    }
    
    .main-section-p{
        font-size: 34px;
        font-style: normal;
        line-height: normal;
        letter-spacing: -3px;
    }

    .section-headings{
        margin-bottom: 20px;
        font-size: 38px;
    }

    .statistic-results{
        font-size: 70px;
    }

    .statistic-image-style{
        width: 420px;
    }

    .ellipse-width{
        width: 440px;
    }

    .about-product-section{
        height: 200vh !important;
    }

    .img-about-product1{
        height: 300px;
        width: 700px;
        top: -1030px;
        z-index: 2;
    }

    .img-about-product2{
        height: 300px;
        width: 700px;
        top: -950px;
        right: 250px;
        z-index: 3;
    }

    .detail1{
        width: 350px;
        z-index: 1;
        margin-bottom: 300px;
    }
    
    .detail2{
        width: 350px;
        float: right;
        z-index: 3;
        right: 0px;
        margin-bottom: 240px;
    }
    
    .detail3{
        width: 350px;
        float: right;
        top: -120px;
        z-index: 4
    }

    .about-product-btn{
        top: -630px;
    }

    .image-description{
        color: #4B4B4B;
        font-size: 20px;
    }

    .form-little-p{
        font-family: "Inter" !important;
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: -1.44px;
    }

    .input-width{
        width: 100% !important;
    }

    .corp-condition-text{
        font-size: 28px;
    }

    .long-text-decorator{
        width: 280px;
    }

    .special-offer-margin{
        margin-right: 0px;
    }

    .form-negative-margin{
        margin-top: 0px;
    }

    .card-size{
        width: 190px;
        height: 200px;
    }

    .feedback-card-w{
        width: 22rem;
    }

    .contact-card-position{
        position: static !important;
    }

    .contact-text{
        font-size: 16px; 
    }
}
